* {
background-color: bisque;

}

.body {
color: rgb(87, 90, 90);

}

#img1 {
image-orientation: ;

}


#img2 {
float: left;
word-wrap: normal;
margin-right: 30px;
margin-bottom: 40px;
}

#img3 {
margin-left: 20px;
margin-top: 20px;
float: right;

}

ul {
text-align: ;
margin-top: 40px;

}

ol {
text-decoration:dotted;

}